*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
}

body{
background:#111111;
color:white;
}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 50px;

background:#1A1A1A;

border-bottom:2px solid #D4AF37;
}

.logo{

display:flex;

align-items:center;

gap:15px;
}

.logo i{

font-size:45px;

color:#D4AF37;
}

.logo h1{

color:#D4AF37;
}

nav ul{

display:flex;

list-style:none;

gap:25px;
}

nav a{

text-decoration:none;

color:white;

transition:.3s;
}

nav a:hover{

color:#D4AF37;
}

.gallery{

padding:40px;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;
}

.card{

background:#1E1E1E;

border-radius:15px;

overflow:hidden;

transition:.4s;
}

.card img{

width:100%;

height:220px;

object-fit:cover;
}

.card h3{

padding:15px;

text-align:center;
}

.card:hover{

transform:
translateY(-12px)
scale(1.03);

box-shadow:
0 0 25px #D4AF37;
}
footer{
    background:#1a1a1a;
    border-top:1px solid #d4af37;
    text-align:center;
    padding:35px;
}
.socials{
    margin-bottom:20px;
}
.socials a{
    color:#d4af37;
    font-size:22px;
    margin:0 10px;
}

@media (max-width: 768px){

    header{

        flex-direction:column;

        gap:20px;

        padding:20px;

        text-align:center;
    }

    .logo{

        flex-direction:column;
    }

    nav ul{

        flex-wrap:wrap;

        justify-content:center;

        gap:15px;
    }

    .gallery{

        padding:20px;
    }

}

/* ---------- Mobile ---------- */

@media (max-width: 480px){

    .logo i{

        font-size:35px;
    }

    .logo h1{

        font-size:1.3rem;
    }

    .logo p{

        font-size:.9rem;
    }

    nav ul{

        flex-direction:column;

        align-items:center;

        gap:12px;
    }

    nav a{

        display:block;

        padding:8px;
    }

    .gallery{

        padding:15px;
    }

    .card img{

        height:180px;
    }

}
